@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import './button.scss';
@import './table.scss';

* {
   font-family: 'Public Sans', sans-serif;
   box-sizing: border-box;
}

@theme {
   --breakpoint-xs: 425px;
   --color-beige-100: #f8f4f0;
   --color-beige-500: #98908b;
   --color-grey-100: #f2f2f2;
   --color-grey-300: #b3b3b3;
   --color-grey-500: #696868;
   --color-grey-900: #201f24;
   --color-green: #277c78;
   --color-yellow: #f2cdac;
   --color-cyan: #82c9d7;
   --color-navy: #626070;
   --color-red: #c94736;
   --color-purple: #826cb0;
   --color-purple-1: #af81ba;
   --color-turquoise: #597c7c;
   --color-brown: #93674f;
   --color-magenta: #934f6f;
   --color-blue: #3f82b2;
   --color-navy-grey: #97a0ac;
   --color-army-green: #7f9161;
   --color-gold: #cab361;
   --color-orange: #be6c49;
}

button {
   cursor: pointer;
}

.flex-items {
   @apply flex items-center;
}

.flex-center {
   @apply flex items-center justify-center;
}

.dashboard-card {
   @apply rounded-xl bg-white px-4 py-6 mt-6;
}

.filter-green {
   filter: brightness(0) saturate(100%) invert(33%) sepia(19%) saturate(1860%)
      hue-rotate(131deg) brightness(95%) contrast(92%);
}

.transaction-table {
   @apply md:grid grid-cols-[40%_25%_25%_10%];
}
